<footer class="footer">
    <div class="footerMain">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="/images/LOGO.png" alt="logotipo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>QUIÉNES SOMOS?</h2>
            <p>Somos un grupo de jovenes emprendedores que ofrecemos el servicio de entrega de viandas para el
                almuerzo en la zona de las oficinas judiciales del centro de la ciudad de Buenos Aires.</p>
        </div>
        <div class="box">
            <h2>NUESTRAS REDES:</h2>
            <div class="redes-sociales">
                <a href="#" class="fa-brands fa-instagram fa-2xl"></a>
                <a href="#" class="fa-brands fa-facebook fa-2xl"></a>
                <a href="#" class="fa-brands fa-twitter fa-2xl"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <small>&copy; 2022 <b>Lima</b> - Todos los derechos reservados.</small>
    </div>
</footer>