<header>
    <nav class="navBar">
        <div class="dropdown">
            <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false"
                id="burger">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="./productCart">Carrito</a></li>
                <li><a class="dropdown-item" href="#">Contacto</a></li>
                <li><a class="dropdown-item" href="#">Nosotros</a></li>
                <li><a class="dropdown-item" href="./register">Registrarse</a></li>
                <li><a class="dropdown-item" href="./login">Login</a></li>
                <li><a class="dropdown-item" href="./productDetail">Ensaladas</a></li>
            </ul>
        </div>
        <div class="logo">
            <a href="./"><img src="../images/LOGO.png" alt="logo"></a>
            <a href="./"><img src="../images/Lima.png" alt="Lima"></a>
        </div>
        <div class="menu">
            <a href=""><b>Nosotros</b></a>
            <a href="./productDetail"><b>Ensaladas</b></a>
            <a href="./register"><b>Registrarse</b></a>
            <a href=""><b>Contacto</b></a>


        </div>
        <div class="logoCarrito">
            <a href="./login"><i class="fa-solid fa-user" id="user"></i></a>
            <a href="./productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
</header>