<html>
  <head>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Iniciar sesión</title>
  </head>
  <body>
    <form action="login.html" method="POST">
      <p>
        <label>Nombre de usuario:</label>
        <input type="text" name="nombreDeUsuario" required>
      </p>
  
      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>
      <p>
        <a href>Reestablecer contraseña</a>
      </p>
      <p><label>
        <input type="checkbox" name="recordar" value="recordar" >Recordarme
        </label>
    </p>
      <p>
        <button type="submit">Iniciar sesión</button>
      </p>
    </form>
  </body>
</html>