<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {pageTitle: 'Nosotros' }); %>

    <body>

        <%- include('./partials/header') %>

            <main>
                <div class="nosotres">
                    <div class="arriba1">
                        <h3 class="nosotros">Sobre nosotros</h3>
                        <p class="nosotros2">Somos un grupo de jovenes emprendedores que ofrecemos el servicio de
                            entrega de
                            viandas para el almuerzo en la zona de las oficinas judiciales del centro de la ciudad
                            de Buenos
                            Aires.</p>
                        <h3 class="nosotros">Nuestra historia</h3>
                        <p class="nosotros2">Nacimos en 2016 siendo dos muchachos llenos de sueños y con mucho
                            empuje y una
                            pandemia de por medio llegamos a ser la pyme que más oficinistas alimenta en el centro
                            de la
                            ciudad.</p>
                        <h3 class="nosotros">Nuestro presente y nuestro plan a futuro</h3>
                        <p class="nosotros2">Actualmente tenemos 6 empleados, llegamos a 12 edificios judiciales,
                            utilizamos
                            materiales 100% reciclables y ofrecemos un producto elaborado en el día con ingredientes
                            frescos. Estamos planeando abrir más sucursales para que puedan de disfrutar de nuestras
                            ensaladas en distintos puntos de la capital.</p>
                    </div>
                    <div class="abajo2">
                        <div class="right-nos1">
                            <div class="polaroid">
                                <img id="imgNOS2" src="../images/Nosotros.jpeg" />
                                <div class="container">
                                    <p>Marzo 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="right-nos">
                            <div class="polaroid">
                                <img id="imgNOS" src="../images/nosotros1.jpg" />
                                <div class="container">
                                    <p>Enero 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <%- include('./partials/footer.ejs') %>
                <script src="/js/carro.js"></script>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
        </script>

</html>