<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lima</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/929658e686.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header></header>
        <nav class="navBar">
            
            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-sharp fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Mi Perfil</a></li>
                    <li><a href="/productCart" class="dropdown-item">Mi Carrito</a></li>
                    <li><a href="/product" class="dropdown-item">Ensaladas</a></li>
                    <li><a href="#" class="dropdown-item"></a>>Contacto</a></li>
                    <li><a href="#" class="dropdown-item">Quienes Somos?</a></li>
                  </ul>
            </div>
            
            <div class="logo">
                <img src="../images/Lima.png">   
            </div>
            
            <div class="back">
                <a href="./register.html"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </nav>
        <div class="volver">
            <a href="./productDetail.html"><i class="fa-solid fa-circle-left"></i></a>
        <h3> Volver atrás </h3>
        </div>
    </header>
    
    <main>   
        <section class="Pedido">
            <h1 class="Mi pedido">Mi Pedido</h1>
            <p>ACA DEBERIA TRAER EL PEDIDO SELECCIONADO</p>
        </section>
        
        <section class="Ubicación">
                <h1 class="Mi Ubicación">Confirmar dirección</h1>
                <p>ACA DEBERIA TRAER LA DIRECCIÓN GUARDADA POR EL USUARIOgit</p> 
        </section>
        
        <div class="Tarjetas">
            <h2>Pagar</h2>
            <i class="fa-solid fa-cart-shopping"></i>               
            <form>      
                <p>Elija medio de pago</p>
                    <i class="fa-regular fa-dollar-sign"></i>
                    <label>Efectivo<input type="radio" name="userType" id="valorDonacion1" value="Cash"> 
                    
                    <i class="fa-brands fa-cc-mastercard"></i>    
                    <label>Mastercard<input type="radio" name="userType" id="valorDonacion1" value="Mastercard">
                    
                    <i class="fa-brands fa-cc-visa"></i>    
                    <label>Visa<input type="radio" name="userType" id="valorDonacion1" value="Visa">

                    <i class="fa-brands fa-cc-paypal"></i> 
                    <label>PayPal<input type="radio" name="userType" id="valorDonacion1" value="PayPal">

                    <i class="fa-brands fa-cc-apple-pay"></i>
                    <label>Apple Pay<input type="radio" name="userType" id="valorDonacion1" value="ApplePay">
                    
                
                     <button type="submit">Enviar</button>
                     <button type="reset">Limpiar pedido</button>
    
            </form>
        
        </div>
    </main>  
    <footer class="pieDePagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../images/LOGO.png" alt="logotipo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>QUIÉNES SOMOS?</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, similique.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, similique.</p>
            </div>
            <div class="box">
                <h2>NUESTRAS REDES:</h2>
                <div class="redes-sociales">
                    <a href="#" class="fa-brands fa-instagram fa-2xl"></a>
                    <a href="#" class="fa-brands fa-facebook fa-2xl"></a>
                    <a href="#" class="fa-brands fa-twitter fa-2xl"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2022 <b>Lima</b> - Todos los derechos reservados.</small>
        </div>
    </footer>
</body>  
</html>