<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lima</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/929658e686.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navBar">
            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    id="burger">
                    <i class="fa-sharp fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="./productCart.html">Carrito</a></li>
                    <li><a class="dropdown-item" href="#">Contacto</a></li>
                    <li><a class="dropdown-item" href="#">Nosotros</a></li>
                    <li><a class="dropdown-item" href="./register.html">Registrarse</a></li>
                    <li><a class="dropdown-item" href="./login.html">Login</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="./"><img src="../images/LOGO.png" alt="logo"></a>
                <a href="./"><img src="../images/Lima.png" alt="Lima"></a>
            </div>
            <div class="menu">
                <a href=""><b>Nosotros</b></a>
                <a href="./productDetail.html"><b>Ensaladas</b></a>
                <a href="./register.html"><b>Registrarse</b></a>
                <a href=""><b>Contacto</b></a>


            </div>
            <div class="logoCarrito">
                <a href="./login.html"><i class="fa-solid fa-user" id="user"></i></a>
                <a href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav>
    </header>

    <main>
        <article class="card">
            <img src="../images/Caesar.jpeg" alt="Ensalada Caesar">
            <div class="description">
                <h2>Ensalada Caesar</h2>
                <p clas="price">Precio $ 720.00</p>
                <p>Ingredientes: Pollo, queso, tomates cherry, mix de verdes y croutons.</p>
            </div>
        </article>

        <section class="box ingredientes">
            <form class="ingredientes1">
                <p>Quitar ingredientes</p>

                <label>Pollo<input type="checkbox" name="palta" id="palta" value="palta"></label>
                <label>Queso<input type="checkbox" name="cebolla" id="cebolla" value="cebolla"></label>
                <label>Tomates cherry<input type="checkbox" name="jamon" id="jamon" value="jamon"></label>
                <label>Croutons<input type="checkbox" name="quesorallado" id="quesorallado"
                        value="quesorallado"></label>
            </form>

            <form class="ingredientes2">
                <p>Agregar ingredientes</p>
                <label for="ingredientes">Elige ingredientes para agregar:</label>
                <select name="ingrediente" id="ingrediente">
                    <option value="Palta">Palta</option>
                    <option value="Cebolla">Cebolla</option>
                    <option value="Quesorallado">Queso rallado</option>
                    <option value="Jamon">Jamon</option>
                    <option value="Apio">Apio</option>
                    <option value="Manzanaverde">Manzana Verde</option>
                </select>
            </form>
        </section>

        <section>
            <div class="pago">
                <h2>Pagar</h2>
                <i class="fa-solid fa-cart-shopping"></i>
                <form>
                    <p>Elija medio de pago</p>
                    <div class="formulariopago">
                        <label><i class="fa-regular fa-dollar-sign"></i> Efectivo<input type="radio" name="" id="Cash"
                                value="Cash"></label>
                        <label><i class="fa-brands fa-cc-mastercard"></i> Mastercard<input type="radio"
                                name="Mastercard" id="Mastercard" value="Mastercard"></label>
                        <label><i class="fa-brands fa-cc-visa"></i> Visa<input type="radio" name="Visa" id="Visa"
                                value="Visa"></label>
                        <label><i class="fa-brands fa-cc-paypal"></i> PayPal<input type="radio" name="PayPal"
                                id="PayPal" value="PayPal"></label>
                        <label><i class="fa-brands fa-cc-apple-pay"></i> Apple Pay<input type="radio" name="ApplePay"
                                id="ApplePay" value="ApplePay"></label>
                    </div>

                    <div class="formulariopago2">
                        <div><button type="submit"> Enviar </button></div>
                        <div><button type="reset"> Limpiar pedido </button></div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="pieDePagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../images/LOGO.png" alt="logotipo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>QUIÉNES SOMOS?</h2>
                <p>Somos un grupo de jovenes emprendedores que ofrecemos el servicio de entrega de viandas para el
                    almuerzo en la zona de las oficinas judiciales del centro de la ciudad de Buenos Aires.</p>
            </div>
            <div class="box">
                <h2>NUESTRAS REDES:</h2>
                <div class="redes-sociales">
                    <a href="#" class="fa-brands fa-instagram fa-2xl"></a>
                    <a href="#" class="fa-brands fa-facebook fa-2xl"></a>
                    <a href="#" class="fa-brands fa-twitter fa-2xl"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2022 <b>Lima</b> - Todos los derechos reservados.</small>
        </div>
    </footer>
</body>

</html>