<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lima</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/929658e686.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navBar"> 
            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false" id="burger">
                    <i class="fa-sharp fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Mi Perfil</a></li>
                  <li><a href="/productCart" class="dropdown-item">Mi Carrito</a></li>
                  <li><a href="/product" class="dropdown-item">Ensaladas</a></li>
                  <li><a href="#" class="dropdown-item"></a>>Contacto</a></li>
                  <li><a href="#" class="dropdown-item">Quienes Somos?</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="../images/LOGO.png" alt="logo">
            </div>
            <div class="lima">
                <img src="../images/Lima.png" alt="Lima">
            </div>
            <div>
                <i class="fa-solid fa-user" id="user"><p class="usuario">Nombre</p></i>
            </div>
        </nav>
    </header>
    <main>
        <section class="detail">
            <div class="boxDetail">
                <div class="boxLeft"><img src="../images/Brie.jpeg" width=25%></div>
                <div class="boxRight"><h2>Ensalada Brie</h2>
                    <p> Ingredientes: Queso brie, pollo, tomates cherry, mix de verdes, nueces y croutons.</p>
                    <div><h3>$900</h3></div><p><a href="/productcart">Agregar al carrito <i class="fa-solid fa-cart-shopping"></a></i></p></div>
                </div>
            </div>
            </div>
            <br>
            <div class="boxDetail">
                <div class="boxLeft"><img src="../images/Caesar.jpeg" width=25%></div>
                <div class="boxRight"><h2>Ensalada Caesar</h2>
                    <p> Ingredientes: Pollo, queso, tomates cherry, mix de verdes y croutons.</p>
                    <div><h3>$900</h3></div><p><a href="/productcart">Agregar al carrito <i class="fa-solid fa-cart-shopping"></a></i></p></div>
                </div>
            </div>
            </div>
            <br>
            <div class="boxDetail">
                <div class="boxLeft"><img src="../images/Cala1.jpg" width=25%></div>
                <div class="boxRight"><h2>Ensalada Cala</h2>
                    <p> Ingredientes: Pollo, roquefort, tomates secos, mix de verdes y nueces.</p>
                    <div><h3>$900</h3></div><p><a href="/productcart">Agregar al carrito <i class="fa-solid fa-cart-shopping"></a></i></p></div>
                </div>
            </div>
            </div>
            <br>
            <div class="boxDetail">
                <div class="boxLeft"><img src="../images/Clásica.jpeg" width=25%></div>
                <div class="boxRight"><h2>Ensalada Clásica</h2>
                    <p> Ingredientes: Pollo, queso, lechuga, tomates cherry, zanahoria y huevo.</p>
                    <div><h3>$900</h3></div><p><a href="/productcart">Agregar al carrito <i class="fa-solid fa-cart-shopping"></a></i></p></div>
                </div>
            </div>
            <br>
            <div class="boxDetail">
                <div class="boxLeft"><img src="../images/Crispy.png" width=25%></div>
                <div class="boxRight"><h2>Ensalada Crispy</h2>
                    <p> Ingredientes: Pollo crispy, queso, tomates cherry, mix de verdes y croutons.</p>
                    <div><h3>$900</h3></div><p><a href="/productcart">Agregar al carrito <i class="fa-solid fa-cart-shopping"></a></i></p></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pieDePagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/images/LOGO.png" alt="logotipo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>QUIÉNES SOMOS?</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, similique.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, similique.</p>
            </div>
            <div class="box">
                <h2>NUESTRAS REDES:</h2>
                <div class="redes-sociales">
                    <a href="#" class="fa-brands fa-instagram fa-2xl"></a>
                    <a href="#" class="fa-brands fa-facebook fa-2xl"></a>
                    <a href="#" class="fa-brands fa-twitter fa-2xl"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2022 <b>Lima</b> - Todos los derechos reservados.</small>
        </div>
    </footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>
