<html>
  <head>
    <title>Formulario de registro</title>
  </head>
  <body>
    <form action="register.html" method="POST">
      <p>
        <label>Apellido y nombre:</label>
        <input type="text" name="nombre" required>
      </p>
      <p>
        <label>Dirección:</label>
        <input type="text" name="direccion" required>
      </p>
      <p>
        <label>Celular:</label>
        <input type="number" name="celular" required>
      </p>
      <p>
        <label>Nombre de usuario:</label>
        <input type="text" name="nombreDeUsuario" required>
      </p>
      <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
      </p>

      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>

      <p>
        <button type="reset">Borrar</button>
        <button type="submit">Enviar</button>
      </p>
    </form>
  </body>
</html>