@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: #86D66C;
    padding: 10px;
    border: solid 2px  #007200;
}
.ensaladaDelDia{
    border: solid 1px #007200;
    box-sizing: border-box;
}
.fotoLobby{
    width: 100%;
    height: 900px;
}
.dropdown{
    margin-top: 5px;
}
.logo{
    display: flex;
}
.cart{
    margin-top: 5px;
}
.cart i{
    font-size: 30px;
    color: black;
}
.card{
    display: flex;
}
.principal{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/healthy-green-vegetarian-buddha-bowl-lunch-with-eggs-rice-tomato-avocado-and-blue-cheese-on-table.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
/*------------------------- Banner Ensalada del Día-------------------------------------------------------------------------------------------- */
.ensaladaDelDia{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: url(../images/ensaladaDelDia.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:flex-start;
    align-items:flex-start;
}
.ensaladaDelDia h2{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
    color: #007200;
    border: solid #007200 2px;
}
.ensaladaDelDia p{
    margin-left: 15px;
    color:#007200;
}

/*---------------------------- Pie de página---------------------------------------------------------------------------------------------- */
.pieDePagina{
    width: 100%;
    background-color: #86D66C;
}
.pieDePagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pieDePagina .grupo1 .box figure{
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pieDePagina .grupo1 .box figure img{
    width: 250px;
}
.pieDePagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px; 
    font-family: 'Roboto';  
}
.pieDePagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pieDePagina .grupo1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#86D66C;
    margin-right: 10px;
    background-color: #007200;
    text-align: center;
    border-radius: 10%;
}
.pieDePagina .grupo2{
    background-color: #87d66cd4;
    text-align: center;
    padding: 15px 10px;
    color: #007200;
}
.pieDePagina .grupo2 small{
    font-size: 15px;
}
@media screen and (max-width:761px) {
    .pieDePagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
}
}
/* --------------------------------------------------productDetail--------------------------------------------------------------- */
.detail{
    display: flex;
    justify-content: center;
    
}
.boxDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    width: 60%;
    border-radius: 15px;
    border: solid 1px gray;
}
/* --------------------------------------------------login--------------------------------------------------------------- */
.formLogin{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    border: solid 1px #007200;
    width: 50%;
    padding: 15px;
}
.login p label{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}